//declaração de variaveis
// $light:red;
.jumbotron{
    background-image: url('../assets/vitrine.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

//importação do Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";